.fg-body {
  position: relative;
}

body {
  -webkit-transform-style: preserve-3d;
   -webkit-backface-visibility: hidden;
   background-color: #ccddff;
   /* border: 1px solid red; */
   font-family: Helvetica, sans-serif;
   text-align: center;
}
.fg-card {
  position: absolute;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  display: block;
  border: 4px solid white;
  opacity: 1;
}

.fg-card.animate {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.fg-card.active {
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.fg-card img{
  display: block;
}

.fg-card.fg-flipping {
  -o-transform: rotateX(180deg) !important;
  -webkit-transform: rotateX(180deg) !important;
  -moz-transform: rotateX(180deg) !important;
  transform: rotateX(180deg) !important;
  opacity: 0;
}

.fg-caption {
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 10px 0;
  top: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s ease-in-out;
}

h1 {
  /* border: 1px solid black; */
  font-family: Courier, serif;
  font-size: 40pt;
  margin: 0;
}

h2 {
  /* border: 1px solid black; */
  font-family: Courier, serif;
  font-size: 25pt;
  margin: 10px 5px 5px 5px;
}

header {
  background-color: #eeeeaa;
  border: 4px solid black;
  margin: 30px auto;
  padding: 20px;
  width: 700px;
}

h3 {
  margin: 20px 0 50px 0;
}

.gallery img {
  width: 700px;
  /* border: 6px solid white; */
}

.gallery {
  padding-top: 0px;
  height: 500px;
  width: 700px;
  margin: 0 auto;
}

.gallery a {
  padding: 0px;
}

p {
  margin: 0;
  text-align: justify;
  width: 700px;
  margin: 0 auto 100px auto;
}
